# Ensure specific folders are ignored
database/postgres-uuid-v7/.env.*
database/postgres-uuid-v7/.env
cobol/cobol-temperature-converter/.env
cobol/cobol-temperature-converter/.env.*
database/Multi-database/.env
database/Multi-database/.env.*
database/minio/minio_data
database/minio/mongo_data
golang/go-log-guardian/.env
golang/go-log-guardian/.env.*